About naming rules
1. All directory names must have CFR_ prefix.
2. If contest has a number, the number is the main name.
3. It contest doesn't have a number, make up a good acronym to be the main name.
4. If vituraly anticipated the contest, add suffix _V.
